---
export type Props = {
    label: string;
    name: string;
    type: astroHTML.JSX.HTMLInputTypeAttribute;
    required?: boolean;
    [otherAttrs: string]: any;
};

const { label, name, type, required, ...otherAttrs } = Astro.props;
---

<label>
    <span class:list={['label_text', { required_field: required }]}
        >{label}</span
    >

    <input class='form_input' {name} {type} {required} {...otherAttrs} />
</label>
