---
export type Props = {
    label: string;
    name: string;
    required?: boolean;
    [otherAttrs: string]: any;
};

const { label, name, required, ...otherAttrs } = Astro.props;
---

<label>
    <span class:list={['label_text', { required_field: required }]}>
        {label}
    </span>

    <textarea rows='10' {name} {required} {...otherAttrs}></textarea>
</label>
