---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import DonateLink from "../../components/DonateLink.astro";
import BaseLayout, { Props as PageInfo } from "../../layouts/BaseLayout.astro";

changeLanguage("ht");

setDefaultNamespace("donate");
const pageInfo: PageInfo = {
    current_page: "donate_page",
    metaTitle: "Donate to Support Haiti Immigration Project and Assist Immigrants in Need",
    metaDescription: "Donate to the Haiti Immigration Project and help qualified undocumented immigrants apply for TPS, work permits, and travel documents. Your support will also assist qualified documented immigrants in their pursuit of citizenship and create an emergency fund for those facing crisis.",
};
---

<BaseLayout {...pageInfo}>
    <main>
        <section>
            <div class='container'>
                <h1>
                    {t('section_1.h1')}
                </h1>

                <p>
                    {t('section_1.paragraph_1')}
                </p>
            </div>
        </section>

        <section>
            <div class='container'>
                <h2>
                    {t('section_2.h2')}
                </h2>

                <p>
                    {t('section_2.paragraph_1')}
                </p>

                <DonateLink />
            </div>
        </section>

        <section>
            <div class='container'>
                <p>
                    {t('section_3.paragraph_1')}
                </p>

                <p>
                    {t('section_3.paragraph_2')}
                </p>

                <p>
                    {t('section_3.paragraph_3')}
                </p>
            </div>
        </section>
    </main>
</BaseLayout>
