---
import { changeLanguage, t } from "i18next";
import Form from "../../components/Form.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

changeLanguage("ht");

const current_page = "join_page";
const metaTitle = "Join | HIP - HAITI IMMIGRATION PROJECT";
const metaDescription = "Join the haiti immigration project to help the cause";
---

<BaseLayout {current_page} {metaTitle} {metaDescription}>
    <main>
        <section>
            <div class='container'>
                <h1>
                    {t('form:join_heading')}
                </h1>

                <Form page={current_page} form_name='Join HIP' />
            </div>
        </section>
    </main>
</BaseLayout>
