---
import { changeLanguage, t } from "i18next";
import ScrollTopBtn from "../../components/ScrollTopBtn.astro";
import VideosDiv from "../../components/VideosDiv.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

changeLanguage("ht");

const current_page = "media_page";
const metaTitle = "Media | HIP - HAITI IMMIGRATION PROJECT";
const metaDescription = "Stay informed and connected with the Haiti Immigration Project's media page! Learn about our latest updates and events through our media resources.";
---

<BaseLayout {current_page} {metaTitle} {metaDescription}>
    <main id='main'>
        <section>
            <div class='container'>
                <h1 id='heading'>
                    {t('media:h1')}
                </h1>

                <VideosDiv />
            </div>
        </section>
    </main>

    <ScrollTopBtn />
</BaseLayout>
