---
import { changeLanguage, setDefaultNamespace } from "i18next";
import BaseLayout, { Props as PageInfo } from "../../layouts/BaseLayout.astro";

changeLanguage("ht");

setDefaultNamespace("team");
const pageInfo: PageInfo = {
    current_page: "team_page",
    metaTitle: "Meet Our Team | HIP - HAITI IMMIGRATION PROJECT",
    metaDescription: "Meet Our Team | HIP - HAITI IMMIGRATION PROJECT",
};
---

<BaseLayout {...pageInfo}>
    <main>
        <section>
            <div class='container'>
                <!-- <h1>
                    {t('h1')}
                </h1> -->

                <!-- <TeamTable /> -->
            </div>
        </section>
    </main>
</BaseLayout>
