---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import TeamTable from "../../components/Team/TeamTable.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

changeLanguage("ht");

setDefaultNamespace("team");
const current_page = "team_page";
const metaTitle = "Meet Our Team | HIP - HAITI IMMIGRATION PROJECT";
const metaDescription = "Meet Our Team | HIP - HAITI IMMIGRATION PROJECT";
---

<BaseLayout {current_page} {metaTitle} {metaDescription}>
    <main>
        <section>
            <div class='container'>
                <h1>
                    {t('h1')}
                </h1>

                <TeamTable />
            </div>
        </section>
    </main>
</BaseLayout>
