---
import { localizePath } from "astro-i18next";
import { changeLanguage,setDefaultNamespace,t } from "i18next";
import ButtonStyleLink from "../components/ButtonStyleLink.astro";
import BaseLayout,{ Props as PageInfo } from "../layouts/BaseLayout.astro";

changeLanguage("en");

setDefaultNamespace("404");
const pageInfo: PageInfo = {
    indexPage: false,
    current_page: "four_0_four",
    metaTitle: "Page Not Found | HIP - HAITI IMMIGRATION PROJECT",
    metaDescription: "404 error, page not found",
};
---

<BaseLayout {...pageInfo}>
    <main>
        <section>
            <div class='container'>
                <h1>{t('h1')}</h1>

                <p>
                    {t('paragraph')}
                </p>

                <ButtonStyleLink
                    href={localizePath('/')}
                    text={t('home_link_text')}
                    icon={{
                        name: 'ic:round-home',
                        side: 'left',
                    }}
                />
            </div>
        </section>
    </main>
</BaseLayout>

<style lang='scss'>
    @use '/src/scss/abstracts/' as *;

    main {
        display: grid;
        text-align: center;
        place-items: center;
    }
</style>
