---
import { changeLanguage, t } from "i18next";
import Form from "../components/Form.astro";
import BaseLayout, { Props as PageInfo } from "../layouts/BaseLayout.astro";

changeLanguage("en");

const pageInfo: PageInfo = {
    current_page: "join_page",
    metaTitle: "Join | HIP - HAITI IMMIGRATION PROJECT",
    metaDescription: "Join the haiti immigration project to help the cause",
};
---

<BaseLayout {...pageInfo}>
    <main>
        <section>
            <div class='container'>
                <h1>
                    {t('form:join_heading')}
                </h1>

                <Form page={pageInfo.current_page} form_name='Join HIP' />
            </div>
        </section>
    </main>
</BaseLayout>
