---
import { changeLanguage, t } from 'i18next';
import Form from '../components/form/Form.astro';
import InputField from '../components/form/InputField.astro';
import BaseLayout, { Props as PageInfo } from '../layouts/BaseLayout.astro';

changeLanguage('en');

const pageInfo: PageInfo = {
    current_page: 'volunteer_page',
    metaTitle: 'Volunteer | HIP - HAITI IMMIGRATION PROJECT',
    metaDescription:
        'Volunteer with the haiti immigration project to help the cause',
};
---

<BaseLayout {...pageInfo}>
    <main>
        <section>
            <div class='container'>
                <h1>
                    {t('form:volunteer_heading')}
                </h1>

                <Form page={pageInfo.current_page} form_name='Volunteer'>
                    <InputField
                        required
                        name='skills'
                        type='text'
                        label={t('form:labels.skills')}
                        minlength='3'
                    />

                    <InputField
                        required
                        name='resume'
                        type='file'
                        label={t('form:labels.resume')}
                        accept='.pdf, .doc, .docx, .txt'
                    />
                </Form>
            </div>
        </section>
    </main>
</BaseLayout>

<script>
    // Event listener for form submission that checks the file size of the uploaded file.
    // If the file size is greater than 2MB, alert the user and prevent the form from submitting.

    const form = document.querySelector('form') as HTMLFormElement;
    const htmlTag = document.querySelector('html') as HTMLHtmlElement;
    const currentLanguage = htmlTag.getAttribute('lang');
    const MAX_SIZE = 2 * 1000 * 1000; // 2MB limit

    const alertMessage =
        currentLanguage === 'en'
            ? 'File size is too big! It needs to be 2MB or less, try reducing the file and resubmit.'
            : 'Gwosè dosye a twò gwo! Li bezwen 2MB oswa mwens, eseye diminye fichye a epi soumèt ankò';

    form.addEventListener('submit', (event: SubmitEvent) => {
        const formData = new FormData(form);
        const file = formData.get('resume');

        if (file instanceof File && file.size > MAX_SIZE) {
            event.preventDefault();
            alert(alertMessage);
        }
    });
</script>
