---
import { Icon } from 'astro-icon';

export interface Props {
    text: string;
    href: string;
    icon?: {
        name: string;
        side: 'left' | 'right';
    };
}

const { text, href, icon } = Astro.props;
---

<a href={href}>
    {
        icon && icon.side === 'left' && (
            <Icon name={icon.name} height='22' width='22' />
        )
    }

    <span>
        {text}
    </span>

    {
        icon && icon.side === 'right' && (
            <Icon name={icon.name} height='22' width='22' />
        )
    }
</a>

<style lang='scss'>
    @use './src/scss/abstracts/' as *;

    a {
        color: #fff;
        font-size: 2.2rem;
        column-gap: 0.4rem;
        border-radius: 7px;
        align-items: center;
        display: inline-flex;
        padding: 0.8rem 1rem;
        background: $dark_blue;
        box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%);

        @include filter_brightness(0.2s, 85%);
    }
</style>
