---
import { t } from 'i18next';

export interface Props {
    form_name: string;
    page: string;
}

const { form_name, page } = Astro.props;
---

<form
    name={form_name}
    action='POST'
    class='general_form'
    method='POST'
    data-netlify='true'
    netlify-honeypot='bot-field'
>
    <input name='bot-field' class='bot_field' />

    {page === 'request_page' && <p>{t('form:application_paragraph')}</p>}

    <label>
        <span class='label_text'>
            {t('form:labels.name')}
            *</span
        >

        <input class='form_input' type='text' name='name' required />
    </label>

    <label>
        <span class='label_text'>
            {t('form:labels.email')}
            *</span
        >
        <input
            class='form_input'
            type='email'
            name='email'
            required
            pattern='^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$'
        />
    </label>

    <label>
        <span class='label_text'>
            {t('form:labels.phone')}
            *</span
        >
        <input
            class='form_input'
            type='tel'
            name='phone'
            required
            pattern='^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$'
        />
    </label>

    <slot />

    <label>
        <span class='label_text'>
            {t('form:labels.message')}
        </span>
        <textarea rows='10' name='message'></textarea>
    </label>

    <input
        type='submit'
        value={t('form:labels.submit')}
        class='submit-btn form_input'
    />
</form>

<style is:global lang='scss'>
    @use './src/scss/abstracts/' as *;

    .general_form {
        display: grid;
        margin: 0 auto;
        padding: 2.5rem;
        max-width: 43rem;
        font-size: 1.5rem;
        border-radius: 7px;
        border: 1px solid #c8c8c8;

        p {
            margin: 0 0 3rem;
        }

        .form_input,
        select,
        textarea {
            padding: 0.7rem;
            border-radius: 7px;
            border: 1px solid #c8c8c8;
        }

        .file-input::file-selector-button {
            border: 0;
            color: #fff;
            border-radius: 7px;
            background: $dark_blue;
        }

        .submit-btn {
            border: none;
            color: #fff;
            font-size: 1.9rem;
            border-radius: 7px;
            text-align: center;
            padding: 0.6rem 1rem;
            background: $dark_blue;

            @include filter_brightness(0.2s, 85%);
        }
    }

    .general_form label {
        display: grid;
        margin-bottom: 2.5rem;

        .label_text {
            margin-bottom: 0.5rem;
        }
    }

    .bot_field {
        width: 0;
        height: 0;
        visibility: hidden;
        pointer-events: none;
    }
</style>
